[
    {
        elvis,
        [
            {config,
                [
                    #{
                        dirs => ["src"],
                        filter => "*.erl",
                        ruleset => erl_files,
                        rules => [
                            %% Increase threshold for god_modules to accommodate
                            %% type encoder modules that naturally have many functions
                            {elvis_style, god_modules, #{limit => 50}}
                        ]
                    },
                    #{
                        dirs => ["."],
                        filter => "Makefile",
                        ruleset => makefiles
                    },
                    #{
                        dirs => ["."],
                        filter => "rebar.config",
                        ruleset => rebar_config
                    },
                    #{
                        dirs => ["."],
                        filter => "elvis.config",
                        ruleset => elvis_config
                    }
                ]
            }
        ]
    }
].
